importFrom(stats, cor, na.omit, pnorm, quantile, rnorm, runif, sd)
importFrom(utils, head)
importFrom(MASS, mvrnorm)
importFrom(graphics, hist)

export(audit_attribute_disclosure)
export(audit_linkage_risk)
export(audit_membership_risk)
export(check_synth_budget)
export(clip_data)
export(dp_copula_synth)
export(dp_gmm_synth)
export(dp_marginals_synth)
export(dp_pate_synth)
export(dp_synthesize)
export(evaluate_downstream)
export(evaluate_multivariate)
export(evaluate_propensity)
export(evaluate_univariate)
export(evaluate_utility)
export(gaussian_mech)
export(new_synth_budget)
export(rlaplace)
export(spend_synth)

S3method(print, dp_synthesis_result)
S3method(print, synth_privacy_budget)
